<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cotton.abmallback.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.cotton.abmallback.model.Orders">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="order_no" />
    <result column="member_id" jdbcType="BIGINT" property="member_id" />
    <result column="order_status" jdbcType="VARCHAR" property="order_status" />
    <result column="total_money" jdbcType="DECIMAL" property="total_money" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiver_name" />
    <result column="receiver_phone" jdbcType="INTEGER" property="receiver_phone" />
    <result column="receiver_province_name" jdbcType="VARCHAR" property="receiver_province_name" />
    <result column="receiver_province_code" jdbcType="INTEGER" property="receiver_province_code" />
    <result column="receiver_city_code" jdbcType="INTEGER" property="receiver_city_code" />
    <result column="receiver_city_name" jdbcType="INTEGER" property="receiver_city_name" />
    <result column="receiver_county_name" jdbcType="INTEGER" property="receiver_county_name" />
    <result column="receiver_county_code" jdbcType="INTEGER" property="receiver_county_code" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiver_address" />
    <result column="pay_mode" jdbcType="VARCHAR" property="pay_mode" />
    <result column="is_paid" jdbcType="BIT" property="is_paid" />
    <result column="trade_no" jdbcType="VARCHAR" property="trade_no" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="delivery_time" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receive_time" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="is_deleted" jdbcType="BIT" property="is_deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmt_create" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmt_modify" />
  </resultMap>
</mapper>